@import "../../Variables.scss";

.tech-container {
  display: grid;
  width: 100%;
  margin-top: 7%;
  grid-template-columns: 1fr 1fr;
  color: $darkColor;
  padding: 5%;
}
.tech-icon {
  display: flex;
  flex-direction: row;
  padding: 5%;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.tech-caption {
  width: 80%;
  color: inherit;
  padding-left: 7%;
}
