@import "../../Variables.scss";
.techIcon {
  width: 50px;
  height: 50px;
}
.portfolio p {
  color: $backgroundColor;
}
.section_title {
  padding: 5%;
  color: $backgroundColor;
}
.portfolio {
  justify-content: center;
  align-items: center;
  padding: 0% auto;
  background-color: #f7f7f7;

  &_image {
    justify-content: center;
    width: 100vw;
    height: 80vh;
    display: flex;
    object-fit: fill;
    padding: 5%;
  }
  &_tech {
    display: flex;
    padding: 3%;
    justify-content: center;
    align-content: center;
  }
  &_buttons {
    display: flex;
    float: right;
    padding: 5%;
    justify-content: flex-end;
    width: 100vw;
    height: 5%;
  }
  .buttons-container {
    width: 50%;
    height: 5vh;
    display: flex;
    margin: 0% 10%;
    justify-content: space-around;
  }
  .btn.btn-primary {
    min-width: 70px;
    height: 100%;
    font-size: 1.5rem;
  }
}
