h1 {
  font-size: 5.5rem;
}

.about {
  height: 800px;
  display: grid;
  grid-template-columns: 30% 60%;
  justify-content: center;
  align-items: center;
}
.networks-container {
  grid-column-start: 1;
  grid-column-end: 3;
}
article {
  grid-template-columns: 50% 40%;
}
.buttons-container {
  min-width: 40%;
}
.portfolio-image-large img {
  border-radius: 15px;
  max-height: 70vh;
  max-width: 100%;
  object-fit: scale-down;

  @media screen and (min-height: 1300px) {
    max-height: 50vh;
  }
}

.icon-container {
  width: 600px;
  margin-bottom: 10px;
}

.tech-container {
  grid-template-columns: repeat(3, 35%);
  padding-left: 5%;
  padding-top: 5%;
}
