@import "../../Variables.scss";
main {
  display: flex;
  width: 100vw;
  flex-flow: column nowrap;
  position: absolute;
  top: 20vh;
  margin: 0px;
  padding-top: 10vh;
  z-index: 10;
  background-color: $backgroundColor;
  justify-content: center;
}
